name: UI tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest
    
    steps:
      # 1. Клонирование репозитория
      - name: Check out repository
        uses: actions/checkout@v5

      # 2. Установка Python
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      # 3. Установка зависимостей
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          playwright install --with-deps

      # 4. Запуск тестов
      - name: Run Playwright tests with pytest and generate Allure results
        run: |
          pytest -m regression --alluredir=allure-results --numprocesses 2

      # 5. Сохранение результатов тестов как артефакт
      - name: Upload Allure results as artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results/
          retention-days: 7

  publish-report:
    runs-on: ubuntu-latest
    needs: run-tests
    if: always()

    steps:
      # 1. Клонирование репозитория
      - name: Check out repository
        uses: actions/checkout@v5

      # 2. Загрузка результатов тестов из артефакта
      - name: Download Allure results artifact
        uses: actions/download-artifact@v4
        with:
          name: allure-results
          path: allure-results

      # 3. Получение истории отчётов Allure
      - name: Get Allure history
        uses: actions/checkout@v4
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      # 4. Генерация отчета Allure с историей
      - name: Generates Allure Report with history
        uses: simple-elf/allure-report-action@v1.13
        with:
          allure_results: allure-results
          allure_history: allure-history

      # 5. Публикация отчета на GitHub Pages
      - name: Deploy report to Github Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history